<div class="container mt-5">
  <div class="row">
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td>Id</td>
            <td>Nombre</td>
            <td>Descripcion</td>
          </tr>
        </thead>
        <tbody>
            {{#each pruebas}}
              <tr>
                <td> {{ idprueba }} </td>
                <td> {{ nombreprueba }} </td>
                <td> {{ descripcionprueba }} </td>
                <td>
                  <a href="/" class="btn btn-info">Edit</a>
                  <a href="/" class="btn btn-danger">Delete</a>
                </td>
              </tr>
             {{else}} 
               <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay registros de pruebas </p>
                <a href="/pruebas">Agrega un registro!</a>
            </div>
              </div>
            {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col-md-5">
      <div class="card-body">

        <form action="/pruebas/add" method="POST">
          <div class="form-group">
            <input type="text" name="Id" placeholder="Id" class="form-control" autofocus required>
          </div>
          <div class="form-group">
            <input type="text" name="Nombre" placeholder="Nombre" class="form-control" required>
          </div>
          <div class="form-group">
                 <textarea name="Descripcion" rows="2" placeholder="Descripcion" class="form-control" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">
            Insertar registro
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
