<div class="col-md-4 mt-4 mx-auto">
            <div class="card card-body text-center">
                <p>Vista del main</p>
                <a href="/pruebas">Ir a pruebas</a>
            </div>
        </div>