<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/pruebas">TEST  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

    </ul>

    <!-- right items -->
    <ul class="navbar-nav col-md-2 ml-md-auto">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">
            Gestionar
          </a>
          <div class="dropdown-menu">
            <a href="/pruebas" class="dropdown-item">Ver registros</a>
            <a href="/pruebas/add" class="dropdown-item">Añadir registros</a>
            <a href="/pruebas" class="dropdown-item">Generar reporte</a>
          </div>
  

    </ul>
  </div>
</nav>